*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', sans-serif;
}
p{
    line-height: 25px;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}
#slider{
    background: url("../images/slider.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}
.overlay{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .3);
}
.logo{
    width: 20%;
    float: left;
}
.slider-top{
    margin-top: 20px;
}
.menu{
    float: right;
    margin-top: 40px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    /*float: left;*/
    /*list-style: none;*/
    display: inline-block;
    margin-bottom: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #87d37c;
}
.slider-content{
    padding: 200px 0;
    text-align: center;
    color: #ffffff;
}
.slider-content h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.slider-content h1{
    font-size: 60px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    margin-bottom: 15px;
}
.slider-content h1 span{
    color: #87d37c;
}
.slider-content h3{
    font-size: 30px;
}


#about-us{
    color: #8d8c8c;
}
.about-top{
    text-align: center;
    padding: 80px 0;
}
.about-top h2{
    font-size: 36px;
    text-transform: uppercase;
}
.about-top p{
    max-width: 700px;
    margin: 0 auto;
}
.about-content{
    text-align: center;
}
.about{
    width: 25%;
    float: left;
    padding: 60px 0;
}
.about i{
    font-size: 35px;
    margin-bottom: 20px;
}
.about h2{
    text-transform: uppercase;
}
.about p{}
.about:hover i,
.about:hover h2{
    color: #87d37c;
}

#service{
    background-color: #f6f9f9;
    padding: 80px 0;
}
.service-top{
    color: #8d8c8c;
    text-align: center;
    margin-bottom: 30px;
}
.service-top h2{
    font-size: 36px;
    text-transform: uppercase;
}
.service-top p{
    max-width: 700px;
    margin: 0 auto;
}
.service-content{}
.services{
    width: 25%;
    float: left;
    padding-right: 15px;
    margin-bottom: 20px;
}
.services img{
    width: 100%;
}

#contact-us{
    padding: 100px 0;

}
form{
    clear: both;
}
.contact-top{
    color: #8d8c8c;
    text-align: center;
}
.contact-top h2{
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 10px;
}
.contact-top p{
    max-width: 700px;
    margin: 0 auto;
}
.contact-single{
    width: 33.333%;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #8d8c8c;
}
.contact-single i{
    font-size: 80px;
    margin-bottom: 20px;
}
.contact-single h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact-single h3{
    font-size: 20px;
}
.contact-single:hover i,
.contact-single:hover h2,
.contact-single:hover h3{
    color: #87d37c;
}
.contact-form{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.contact-form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #000;
}
.message{
    width: 50%;
    float: right;
}
.message textarea{
    width: 100%;
    height: 105px;
    padding: 25px;
}
.message input{
    height: 40px;
    /*border: 1px solid transparent;!*For mac*!*/
    border: 1px solid #000000;
    width: 130px;
    padding: 13px;
    margin-top: 8px;
    text-transform: uppercase;
    background-color: #ffffff;

}
.message input:hover{
    background-color: #87d37c;
    color: #ffffff;
    border: none;
}
#social-icon{
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}
.social-icons i{
    color: #ffffff;
    font-size: 20px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.fa-facebook{
    background-color: #3a5695;
}
.fa-google-plus{
    background-color: #cd3c2a;
}
.fa-linkedin{
    background-color: #007bb6;
}
.fa-twitter{
    background-color: #5ea9dd;
}
.fa-skype{
    background-color: #00aff0;
}
.fa-dribbble{
    background-color: #03a651;
}
footer{
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
}